.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  gap: 12px;
  position: relative;
}

.title_container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 0 0 0;
}

.main_title {
  font-size: 2.5rem;
}

.main_title-hot {
  color: #002f00;
}

.main_title-cold {
  color: #00002f;
}

.themeBtn_container {
  display: flex;
  width: 15%;
  height: 5vh;
  align-items: center;
  justify-content: space-evenly;
}

.theme_hot {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.theme_cold {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.main_container>input {
  width: 50%;
  height: 5vh;
  border-radius: 4px;
  border: 1px solid black;
}

.main_container>textarea {
  width: 50%;
  height: 50vh;
  border-radius: 4px;
}

.create_story-btn {
  cursor: pointer;
  border: none;
  height: 5vh;
  width: 10vw;
  border-radius: 4px;
  font-weight: bold;
  margin: 8px;
}

/*parte que gera as historias e imprime */

.print_container {
  width: 95vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefefe;
}

.arial_font {
  font-family: Arial, Helvetica, sans-serif;
}

.times_font {
  font-family: 'Times New Roman', Times, serif;
}

.courier_font {
  font-family: cursive;
}

.roboto_font {
  font-family: 'Open Sans', sans-serif;
}

.button_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.print_container-font--wrapper {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-around;
}

.print_container-button--wrapper {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-evenly;
}

.button_container-cold {
  background-color: #ddedf6;
}

.button_container-hot {
  background-color: #f9d4b7;
}

.print_container-button {
  border: none;
  width: 100%;
  height: 10vh;
  background-color: inherit;
  cursor: pointer;
}

.story_container {
  width: 90%;
  animation: showSlowly .5s forwards;
  margin: 12px;
  padding: 8px 14px;
  border: 1px solid rgb(82, 82, 82);
}

.story_text {
  font-size: 1.5rem;
}

.story_title {
  font-size: 2.7rem;
}

.error_mensage{
  color: rgb(201, 27, 27);
  font-weight: bold;
  margin-top: -10px;
}

.error {
  animation: shake 0.5s ease-in-out;
  border: 1px solid red;
}

/* svgs */
.svg {
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.65;
}

@keyframes showSlowly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


@media print {

  .main_container>input,
  .main_container>textarea,
  .main_container>button,
  .button_container,
  .title_container,
  svg {
    display: none;
  }

  .print_container {
    border: none;
    margin-top: 1.5%;
  }
}

@media screen and (max-width:768px) {

  .title_container,
  .main_container>input,
  .main_container>textarea {
    width: 75%;
  }

  .create_story-btn {
    width: 50%;
    margin: 12px;
  }

  .svg {
    display: none;
  }

  .button_container>button {
    margin: 0 12px;
  }

  .print_container-font--wrapper {
    width: 50%;
  }

  .print_container-button--wrapper {
    width: 20%;
  }
}

@media screen and (max-width:600px) {

  .title_container{
    margin: 24px 0 0 0;
  }

  .print_container-font--wrapper {
    width: 65%;
  }

  .themeBtn_container{
    justify-content: space-around;
    margin-left: 6px;
  }
}