.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  gap: 12px;
  position: relative;
}

.main_container-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  min-height: 100vh;
  gap: 12px;
  position: absolute;
  z-index: 2;
}

.title_container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 0 0 0;
}

.main_title {
  font-size: 2.5rem;
}

.main_title-hot {
 color: #002f00; 
 
}

.main_title-cold {
  color: #000007; 
}

.themeBtn_container {
  display: flex;
  width: 15%;
  height: 5vh;
  align-items: center;
  justify-content: space-evenly;
}

.theme_hot {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.theme_cold {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.main_container-wrapper>input {
  width: 50%;
  height: 5vh;
  border-radius: 4px;
  background-color: #fefefe;
  border: none;

} 

.input-cold, .textarea-cold {
  box-shadow:inset 0 0 0 4px #bedbe5;
  border-radius: 8px;
  padding: 8px;
  
}

.input-cold:focus, .textarea-cold:focus{
  border: 1px solid #0093E9;
  outline: none;

}

.main_container-wrapper>textarea {
  width: 50%;
  height: 50vh;
  border-radius: 4px;
  border: none;
  padding: 8px;
}

.create_story-btn {
  cursor: pointer;
  border: none;
  height: 5vh;
  width: 10vw;
  border-radius: 4px;
  font-weight: bold;
  margin: 8px;
  
}

/*cabeçalho que gera as historias e imprime */

.print_container {
  width: 95vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fefefe;
}

.print_container-cold{
  box-shadow: 0 0 0 4px #bedbe5;
}

.arial_font {
  font-family: Arial, Helvetica, sans-serif;
}

.times_font {
  font-family: 'Times New Roman', Times, serif;
}

.courier_font {
  font-family: cursive;
}

.roboto_font {
  font-family: 'Open Sans', sans-serif;
}

.lato_font{
  font-family: 'Lato', sans-serif;
}

.button_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.print_container-font--wrapper {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-around;
}

.print_container-button--wrapper {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-evenly;
}

.button_container-cold {
  background-color: #ddedf6;
  box-shadow: inset 0px 0px 15px #0093E9;
}

.button_container-hot {
  background-color: #f9d4b7;
}

.print_container-button {
  border: none;
  width: 100%;
  height: 10vh;
  background-color: inherit;
  cursor: pointer;
}

.error_mensage {
  font-weight: bold;
  margin-top: -10px;
}

.error-cold{
  color: #00002f;
  opacity: 0.7;
  background-color: #bedbe5;
  padding: 6px;
  border-radius: 8px;
}

.error {
  animation: shake 0.5s ease-in-out;
}


/* svgs */
.svg {
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.65;
}

.imagetermo {
  position: absolute;
  width: 80px;
  left: 85%;
  top: 50%;
  opacity: 0.20;
  transition: .3s ease-in-out;
  filter: drop-shadow(1px 1px 3px black);
  z-index: 0;
  transform: translateY(-50%);
}

@keyframes showSlowly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


@media print {

  .main_container-wrapper>input,
  .main_container-wrapper>textarea,
  .main_container-wrapper>button,
  .button_container,
  .title_container,
  svg,
  .imagetermo,
  .remove_unique-story--btn,
  .theme_container-wrapper,
  .theme_container-wrapper img,
  .button_container-cold,
  .button_container-hot,
  .error_mensage
  {
    display: none;
  }

  .print_container {
    border: none;
    margin-top: 1.5%;
    box-shadow: none;
  }
}

@media screen and (max-width:768px) {

  .title_container,
  .main_container-wrapper>input,
  .main_container-wrapper>textarea {
    width: 75%;
  }

  .create_story-btn {
    width: 50%;
    margin: 12px;
  }

  .svg,
  .imagetermo {
    display: none;
  }

  .button_container>button {
    margin: 0 12px;
  }

  .print_container-font--wrapper {
    width: 50%;
  }

  .print_container-button--wrapper {
    width: 20%;
  }

}

@media screen and (max-width:600px) {

  .title_container {
    margin: 24px 0 0 0;
  }

  .print_container-font--wrapper {
    width: 65%;
  }

  .themeBtn_container {
    justify-content: space-around;
    padding: 2px;
    gap: 2px;
  }

  .remove_unique-story--btn {
    top: -5px;
    left: 92%;
  }
}

@media screen and (max-width:550px) {
  .print_container-font--wrapper {
    width: 75%;
  }
}