.button{
    width: 7%;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: inherit;
    border-radius: 5px;
    padding: 4px;
    border: none;
}

@media screen and (max-width:600px) {
    .button {
       margin: 2px;
    }
}
